@charset "UTF-8";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #000;
}

body {
  position: relative;
  background-image: url(../imagens/fundo-madeira.jpg);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
}

main {
  height: 100vh;
  position: relative;
}

.cellphone {
  height: 627px;
  width: 311px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-image: url(../imagens/frame-iphone.png);
  background-repeat: no-repeat; 
}

.screen {
  position: relative;
  top: 80px;
  left: 22px;
  width: 269px;
  height: 471px;
}

.social-medias {
  text-align: right;
}

.sidebar {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 10px;
}

.social-medias-logo {
  width: 50px;
  border-radius: 50%;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.400);
}

.social-medias-logo:hover {
  border: 2px solid rgba(255, 255, 255, 0.6);
  transform: translate(-3px, -3px);
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.600);
  transition: transform .3s;
}

